body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  background-color: #d41212;
  color: white;
  padding: 10px;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

